-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: crm_local
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `crm_local`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `crm_local` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `crm_local`;

--
-- Table structure for table `activity_shares`
--

DROP TABLE IF EXISTS `activity_shares`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activity_shares` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tenant_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `share_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'USER, TEAM, DEPARTMENT, ROLE',
  `share_target` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'user_id, team_id, department, role_name',
  `activity_type` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'CREATE, UPDATE, DELETE, STATUS_CHANGE',
  `entity_type` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `entity_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `shared_by` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `message` text COLLATE utf8mb4_unicode_ci COMMENT '附言',
  `created_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_tenant` (`tenant_id`),
  KEY `idx_share_target` (`share_type`,`share_target`),
  KEY `idx_entity` (`entity_type`,`entity_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_shares`
--

LOCK TABLES `activity_shares` WRITE;
/*!40000 ALTER TABLE `activity_shares` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_shares` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `approval_delegations`
--

DROP TABLE IF EXISTS `approval_delegations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `approval_delegations` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tenant_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `workflow_execution_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `workflow_node_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `delegation_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'ADD_SIGN, TRANSFER',
  `from_user` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `to_user` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `reason` text COLLATE utf8mb4_unicode_ci,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDING' COMMENT 'PENDING, ACCEPTED, REJECTED, CANCELLED',
  `created_at` timestamp NOT NULL,
  `completed_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_execution` (`workflow_execution_id`),
  KEY `idx_from_user` (`from_user`),
  KEY `idx_to_user` (`to_user`),
  CONSTRAINT `approval_delegations_ibfk_1` FOREIGN KEY (`workflow_execution_id`) REFERENCES `workflow_executions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `approval_delegations`
--

LOCK TABLES `approval_delegations` WRITE;
/*!40000 ALTER TABLE `approval_delegations` DISABLE KEYS */;
/*!40000 ALTER TABLE `approval_delegations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `approval_events`
--

DROP TABLE IF EXISTS `approval_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `approval_events` (
  `id` varchar(64) NOT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `instance_id` varchar(64) NOT NULL,
  `task_id` varchar(64) DEFAULT NULL,
  `event_type` varchar(60) NOT NULL,
  `operator_user` varchar(80) DEFAULT NULL,
  `detail` varchar(255) DEFAULT NULL,
  `request_id` varchar(64) DEFAULT NULL,
  `created_at` timestamp NOT NULL,
  `actor_id` varchar(64) DEFAULT NULL,
  `target_id` varchar(64) DEFAULT NULL,
  `description` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `approval_events`
--

LOCK TABLES `approval_events` WRITE;
/*!40000 ALTER TABLE `approval_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `approval_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `approval_instances`
--

DROP TABLE IF EXISTS `approval_instances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `approval_instances` (
  `id` varchar(64) NOT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `template_id` varchar(64) NOT NULL,
  `template_version` int DEFAULT NULL,
  `biz_type` varchar(40) NOT NULL,
  `biz_id` varchar(64) NOT NULL,
  `status` varchar(20) NOT NULL,
  `submitter` varchar(80) NOT NULL,
  `comment` varchar(255) DEFAULT NULL,
  `current_seq` int NOT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_approval_instances_tenant` (`tenant_id`,`status`,`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `approval_instances`
--

LOCK TABLES `approval_instances` WRITE;
/*!40000 ALTER TABLE `approval_instances` DISABLE KEYS */;
/*!40000 ALTER TABLE `approval_instances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `approval_nodes`
--

DROP TABLE IF EXISTS `approval_nodes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `approval_nodes` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `workflow_node_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `approval_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'SINGLE, SERIAL, PARALLEL, OR',
  `approver_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'USER, ROLE, DEPARTMENT, DYNAMIC',
  `approver_config` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '审批人配置',
  `sla_hours` int DEFAULT NULL COMMENT 'SLA时限(小时)',
  `allow_add_sign` tinyint(1) NOT NULL DEFAULT '1' COMMENT '允许加签',
  `allow_transfer` tinyint(1) NOT NULL DEFAULT '1' COMMENT '允许转交',
  `allow_reject` tinyint(1) NOT NULL DEFAULT '1' COMMENT '允许驳回',
  `reject_to` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'REJECT_START, REJECT_PREV, SPECIFIC_NODE',
  `reject_node_id` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `notify_on_create` tinyint(1) NOT NULL DEFAULT '1',
  `notify_on_complete` tinyint(1) NOT NULL DEFAULT '1',
  `notify_on_timeout` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  `approver_ids` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '审批人ID列表，逗号分隔',
  PRIMARY KEY (`id`),
  KEY `idx_workflow_node` (`workflow_node_id`),
  CONSTRAINT `approval_nodes_ibfk_1` FOREIGN KEY (`workflow_node_id`) REFERENCES `workflow_nodes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `approval_nodes`
--

LOCK TABLES `approval_nodes` WRITE;
/*!40000 ALTER TABLE `approval_nodes` DISABLE KEYS */;
/*!40000 ALTER TABLE `approval_nodes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `approval_tasks`
--

DROP TABLE IF EXISTS `approval_tasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `approval_tasks` (
  `id` varchar(64) NOT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `instance_id` varchar(64) NOT NULL,
  `approver_role` varchar(40) NOT NULL,
  `approver_user` varchar(80) DEFAULT NULL,
  `status` varchar(20) NOT NULL,
  `comment` varchar(255) DEFAULT NULL,
  `seq` int NOT NULL,
  `node_key` varchar(64) DEFAULT NULL,
  `sla_minutes` int DEFAULT NULL,
  `deadline_at` timestamp NULL DEFAULT NULL,
  `escalate_to_roles` varchar(255) DEFAULT NULL,
  `escalation_level` int DEFAULT NULL,
  `escalation_source_task_id` varchar(64) DEFAULT NULL,
  `notified_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  `delegated_from` varchar(64) DEFAULT NULL COMMENT '委托来源用户ID',
  `delegated_at` timestamp NULL DEFAULT NULL COMMENT '委托时间',
  `transfer_history` text COMMENT '转交历史',
  `transferred_at` timestamp NULL DEFAULT NULL COMMENT '最后转交时间',
  `add_sign_type` varchar(20) DEFAULT NULL COMMENT '加签类型: BEFORE, AFTER',
  `parent_task_id` varchar(64) DEFAULT NULL COMMENT '父任务ID（加签时）',
  `template_id` varchar(64) DEFAULT NULL,
  `sla_deadline` timestamp NULL DEFAULT NULL,
  `priority` int DEFAULT NULL,
  `assignee_id` varchar(64) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_approval_tasks_tenant` (`tenant_id`,`status`,`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `approval_tasks`
--

LOCK TABLES `approval_tasks` WRITE;
/*!40000 ALTER TABLE `approval_tasks` DISABLE KEYS */;
/*!40000 ALTER TABLE `approval_tasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `approval_template_versions`
--

DROP TABLE IF EXISTS `approval_template_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `approval_template_versions` (
  `id` varchar(64) NOT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `template_id` varchar(64) NOT NULL,
  `version` int NOT NULL,
  `biz_type` varchar(40) NOT NULL,
  `name` varchar(80) NOT NULL,
  `role` varchar(40) DEFAULT NULL,
  `department` varchar(80) DEFAULT NULL,
  `approver_roles` varchar(400) NOT NULL,
  `flow_definition` text,
  `status` varchar(20) NOT NULL,
  `published_by` varchar(80) NOT NULL,
  `published_at` timestamp NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `approval_template_versions`
--

LOCK TABLES `approval_template_versions` WRITE;
/*!40000 ALTER TABLE `approval_template_versions` DISABLE KEYS */;
/*!40000 ALTER TABLE `approval_template_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `approval_templates`
--

DROP TABLE IF EXISTS `approval_templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `approval_templates` (
  `id` varchar(64) NOT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `biz_type` varchar(40) NOT NULL,
  `name` varchar(80) NOT NULL,
  `amount_min` bigint DEFAULT NULL,
  `amount_max` bigint DEFAULT NULL,
  `role` varchar(40) DEFAULT NULL,
  `department` varchar(80) DEFAULT NULL,
  `approver_roles` varchar(400) NOT NULL,
  `flow_definition` text,
  `version` int NOT NULL,
  `status` varchar(20) NOT NULL,
  `enabled` tinyint(1) NOT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_approval_templates_tenant` (`tenant_id`,`biz_type`,`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `approval_templates`
--

LOCK TABLES `approval_templates` WRITE;
/*!40000 ALTER TABLE `approval_templates` DISABLE KEYS */;
INSERT INTO `approval_templates` VALUES ('apt_cn_01','tenant_cn_demo','QUOTE','报价审批流',200000,NULL,'SALES','DEFAULT','[\"MANAGER\",\"ADMIN\"]','{\"nodes\":[{\"key\":\"n1\",\"role\":\"MANAGER\"},{\"key\":\"n2\",\"role\":\"ADMIN\"}]}',1,'PUBLISHED',1,'2026-03-17 01:36:15','2026-03-17 01:36:15'),('apt_gl_01','tenant_global_demo','QUOTE','Quote approval flow',200000,NULL,'SALES','DEFAULT','[\"MANAGER\",\"ADMIN\"]','{\"nodes\":[{\"key\":\"n1\",\"role\":\"MANAGER\"},{\"key\":\"n2\",\"role\":\"ADMIN\"}]}',1,'PUBLISHED',1,'2026-03-17 01:36:15','2026-03-17 01:36:15');
/*!40000 ALTER TABLE `approval_templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_logs` (
  `id` varchar(64) NOT NULL,
  `username` varchar(80) NOT NULL,
  `role` varchar(30) NOT NULL,
  `action` varchar(80) NOT NULL,
  `resource` varchar(80) NOT NULL,
  `resource_id` varchar(80) DEFAULT NULL,
  `details` text,
  `tenant_id` varchar(64) NOT NULL,
  `created_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_audit_tenant_created` (`tenant_id`,`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs_archive`
--

DROP TABLE IF EXISTS `audit_logs_archive`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_logs_archive` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `action_id` bigint DEFAULT NULL,
  `tenant_id` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `actor_id` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `actor_type` varchar(40) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action_type` varchar(40) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `entity_type` varchar(40) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `entity_id` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `details` text COLLATE utf8mb4_unicode_ci,
  `ip_address` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `archived_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_tenant_actor` (`tenant_id`,`actor_id`),
  KEY `idx_entity` (`entity_type`,`entity_id`),
  KEY `idx_created` (`created_at`),
  KEY `idx_archived` (`archived_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs_archive`
--

LOCK TABLES `audit_logs_archive` WRITE;
/*!40000 ALTER TABLE `audit_logs_archive` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs_archive` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `automation_rules`
--

DROP TABLE IF EXISTS `automation_rules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `automation_rules` (
  `id` varchar(64) NOT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `name` varchar(120) NOT NULL,
  `trigger_type` varchar(60) NOT NULL,
  `trigger_expr` varchar(255) NOT NULL,
  `action_type` varchar(60) NOT NULL,
  `action_payload` text,
  `enabled` tinyint(1) NOT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `automation_rules`
--

LOCK TABLES `automation_rules` WRITE;
/*!40000 ALTER TABLE `automation_rules` DISABLE KEYS */;
/*!40000 ALTER TABLE `automation_rules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chart_datasets`
--

DROP TABLE IF EXISTS `chart_datasets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chart_datasets` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tenant_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `chart_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `dataset_type` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `filter_config` text COLLATE utf8mb4_unicode_ci COMMENT '筛选条件配置',
  `data_json` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '数据集JSON',
  `computed_at` timestamp NOT NULL,
  `expires_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_chart` (`chart_id`),
  KEY `idx_tenant_computed` (`tenant_id`,`computed_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chart_datasets`
--

LOCK TABLES `chart_datasets` WRITE;
/*!40000 ALTER TABLE `chart_datasets` DISABLE KEYS */;
/*!40000 ALTER TABLE `chart_datasets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chart_templates`
--

DROP TABLE IF EXISTS `chart_templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chart_templates` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tenant_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `chart_type` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'BAR, LINE, PIE, FUNNEL, RADAR, GAUGE',
  `dataset_type` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'CUSTOMERS, OPPORTUNITIES, QUOTES, ORDERS, REVENUE, etc.',
  `config_json` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '图表配置：颜色、标签、图例等',
  `layout_config` text COLLATE utf8mb4_unicode_ci COMMENT '布局配置：宽高、位置等',
  `visibility` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PRIVATE' COMMENT 'PRIVATE, DEPARTMENT, TENANT',
  `owner` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `department` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `version` int NOT NULL DEFAULT '1',
  `is_system` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_tenant_type` (`tenant_id`,`chart_type`),
  KEY `idx_tenant_dataset` (`tenant_id`,`dataset_type`),
  KEY `idx_owner` (`owner`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chart_templates`
--

LOCK TABLES `chart_templates` WRITE;
/*!40000 ALTER TABLE `chart_templates` DISABLE KEYS */;
/*!40000 ALTER TABLE `chart_templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comments`
--

DROP TABLE IF EXISTS `comments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `comments` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tenant_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `entity_type` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'CUSTOMER, LEAD, OPPORTUNITY, etc.',
  `entity_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `author` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `author_name` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `content` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `parent_id` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '回复某条评论',
  `mentions` text COLLATE utf8mb4_unicode_ci COMMENT 'JSON数组: ["user1", "user2"]',
  `mentions_users` text COLLATE utf8mb4_unicode_ci COMMENT '提及的用户信息',
  `is_deleted` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  `like_count` int DEFAULT '0' COMMENT '点赞数',
  `reply_count` int DEFAULT '0' COMMENT '回复数',
  `tags` text COLLATE utf8mb4_unicode_ci COMMENT '鏍囩鍒楄〃锛孞SON鏁扮粍',
  `liked_users` text COLLATE utf8mb4_unicode_ci COMMENT '鐐硅禐鐢ㄦ埛ID鍒楄〃',
  `metadata` text COLLATE utf8mb4_unicode_ci COMMENT '鍏冩暟鎹紝JSON鏍煎紡',
  `edited_at` timestamp NULL DEFAULT NULL COMMENT '缂栬緫鏃堕棿',
  `parent_comment_id` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '鐖惰瘎璁篒D',
  PRIMARY KEY (`id`),
  KEY `idx_tenant` (`tenant_id`),
  KEY `idx_entity` (`entity_type`,`entity_id`),
  KEY `idx_author` (`author`),
  KEY `idx_parent` (`parent_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comments`
--

LOCK TABLES `comments` WRITE;
/*!40000 ALTER TABLE `comments` DISABLE KEYS */;
/*!40000 ALTER TABLE `comments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contacts`
--

DROP TABLE IF EXISTS `contacts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contacts` (
  `id` varchar(64) NOT NULL,
  `customer_id` varchar(64) NOT NULL,
  `name` varchar(120) NOT NULL,
  `title` varchar(120) DEFAULT NULL,
  `phone` varchar(40) DEFAULT NULL,
  `email` varchar(120) DEFAULT NULL,
  `owner` varchar(120) DEFAULT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  `name_pinyin` varchar(200) DEFAULT NULL COMMENT '姓名拼音',
  `mobile` varchar(40) DEFAULT NULL,
  `position` varchar(120) DEFAULT NULL,
  `company` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_contacts_tenant_created` (`tenant_id`,`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contacts`
--

LOCK TABLES `contacts` WRITE;
/*!40000 ALTER TABLE `contacts` DISABLE KEYS */;
/*!40000 ALTER TABLE `contacts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contracts`
--

DROP TABLE IF EXISTS `contracts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contracts` (
  `id` varchar(64) NOT NULL,
  `customer_id` varchar(64) NOT NULL,
  `contract_no` varchar(80) DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `amount` bigint NOT NULL,
  `status` varchar(40) NOT NULL,
  `sign_date` date DEFAULT NULL,
  `owner` varchar(120) DEFAULT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  `settlement_currency` varchar(16) NOT NULL DEFAULT 'CNY',
  `exchange_rate_snapshot` varchar(40) NOT NULL DEFAULT '1.000000@SYSTEM',
  `invoice_status` varchar(24) NOT NULL DEFAULT 'NOT_REQUIRED',
  `tax_display_mode` varchar(24) NOT NULL DEFAULT 'TAX_INCLUSIVE',
  `compliance_tag` varchar(32) NOT NULL DEFAULT 'STANDARD',
  PRIMARY KEY (`id`),
  KEY `idx_contracts_tenant_created` (`tenant_id`,`created_at`),
  KEY `idx_contracts_tenant_status_updated` (`tenant_id`,`status`,`updated_at`),
  KEY `idx_contracts_tenant_owner_created` (`tenant_id`,`owner`,`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contracts`
--

LOCK TABLES `contracts` WRITE;
/*!40000 ALTER TABLE `contracts` DISABLE KEYS */;
/*!40000 ALTER TABLE `contracts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customers` (
  `id` varchar(64) NOT NULL,
  `name` varchar(255) NOT NULL,
  `owner` varchar(120) NOT NULL,
  `tag` varchar(120) NOT NULL,
  `value` bigint NOT NULL,
  `status` varchar(120) NOT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  `name_pinyin` varchar(200) DEFAULT NULL COMMENT '公司名称拼音',
  `industry` varchar(120) DEFAULT NULL,
  `scale` varchar(40) DEFAULT NULL,
  `phone` varchar(40) DEFAULT NULL,
  `website` varchar(255) DEFAULT NULL,
  `address` varchar(500) DEFAULT NULL,
  `description` text,
  PRIMARY KEY (`id`),
  KEY `idx_customers_tenant_created` (`tenant_id`,`created_at`),
  KEY `idx_customers_tenant_status_updated` (`tenant_id`,`status`,`updated_at`),
  KEY `idx_customers_tenant_owner_created` (`tenant_id`,`owner`,`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dashboard_configs`
--

DROP TABLE IF EXISTS `dashboard_configs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dashboard_configs` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tenant_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `layout_json` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '仪表盘布局配置',
  `widgets_json` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '仪表盘组件配置',
  `visibility` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PRIVATE',
  `owner` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_default` tinyint(1) NOT NULL DEFAULT '0',
  `is_system` tinyint(1) NOT NULL DEFAULT '0',
  `version` int NOT NULL DEFAULT '1',
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_tenant_owner` (`tenant_id`,`owner`),
  KEY `idx_is_default` (`is_default`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dashboard_configs`
--

LOCK TABLES `dashboard_configs` WRITE;
/*!40000 ALTER TABLE `dashboard_configs` DISABLE KEYS */;
/*!40000 ALTER TABLE `dashboard_configs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `data_scope_rules`
--

DROP TABLE IF EXISTS `data_scope_rules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `data_scope_rules` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tenant_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `entity_type` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `scope_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'OWNER, DEPARTMENT, TEAM, CUSTOM',
  `scope_config` text COLLATE utf8mb4_unicode_ci COMMENT '自定义范围配置',
  `filter_expression` text COLLATE utf8mb4_unicode_ci COMMENT '过滤表达式',
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_tenant_role_entity` (`tenant_id`,`role`,`entity_type`),
  KEY `idx_tenant_role` (`tenant_id`,`role`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `data_scope_rules`
--

LOCK TABLES `data_scope_rules` WRITE;
/*!40000 ALTER TABLE `data_scope_rules` DISABLE KEYS */;
/*!40000 ALTER TABLE `data_scope_rules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `field_permissions`
--

DROP TABLE IF EXISTS `field_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `field_permissions` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tenant_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `entity_type` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'CUSTOMER, LEAD, OPPORTUNITY, etc.',
  `field_name` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `can_view` tinyint(1) NOT NULL DEFAULT '1',
  `can_edit` tinyint(1) NOT NULL DEFAULT '0',
  `can_delete` tinyint(1) NOT NULL DEFAULT '0',
  `is_hidden` tinyint(1) NOT NULL DEFAULT '0' COMMENT '完全隐藏字段',
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_tenant_entity_field_role` (`tenant_id`,`entity_type`,`field_name`,`role`),
  KEY `idx_tenant_role` (`tenant_id`,`role`),
  KEY `idx_entity` (`entity_type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `field_permissions`
--

LOCK TABLES `field_permissions` WRITE;
/*!40000 ALTER TABLE `field_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `field_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flyway_schema_history`
--

DROP TABLE IF EXISTS `flyway_schema_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `flyway_schema_history` (
  `installed_rank` int NOT NULL,
  `version` varchar(50) DEFAULT NULL,
  `description` varchar(200) NOT NULL,
  `type` varchar(20) NOT NULL,
  `script` varchar(1000) NOT NULL,
  `checksum` int DEFAULT NULL,
  `installed_by` varchar(100) NOT NULL,
  `installed_on` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `execution_time` int NOT NULL,
  `success` tinyint(1) NOT NULL,
  PRIMARY KEY (`installed_rank`),
  KEY `flyway_schema_history_s_idx` (`success`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flyway_schema_history`
--

LOCK TABLES `flyway_schema_history` WRITE;
/*!40000 ALTER TABLE `flyway_schema_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `flyway_schema_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `follow_ups`
--

DROP TABLE IF EXISTS `follow_ups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `follow_ups` (
  `id` varchar(64) NOT NULL,
  `customer_id` varchar(64) NOT NULL,
  `author` varchar(120) DEFAULT NULL,
  `summary` varchar(255) NOT NULL,
  `channel` varchar(80) DEFAULT NULL,
  `result` varchar(255) DEFAULT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `next_action_date` date DEFAULT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_followups_tenant_created` (`tenant_id`,`created_at`),
  KEY `idx_followups_tenant_customer_updated` (`tenant_id`,`customer_id`,`updated_at`),
  KEY `idx_followups_tenant_author_updated` (`tenant_id`,`author`,`updated_at`),
  KEY `idx_followups_tenant_author_created` (`tenant_id`,`author`,`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `follow_ups`
--

LOCK TABLES `follow_ups` WRITE;
/*!40000 ALTER TABLE `follow_ups` DISABLE KEYS */;
/*!40000 ALTER TABLE `follow_ups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `forecast_adjustments`
--

DROP TABLE IF EXISTS `forecast_adjustments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `forecast_adjustments` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tenant_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `forecast_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `adjusted_by` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `adjustment_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'UPWARD, DOWNWARD, COMMIT',
  `adjustment_amount` bigint NOT NULL DEFAULT '0',
  `previous_amount` bigint NOT NULL DEFAULT '0',
  `new_amount` bigint NOT NULL DEFAULT '0',
  `adjustment_reason` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `forecast_id` (`forecast_id`),
  CONSTRAINT `forecast_adjustments_ibfk_1` FOREIGN KEY (`forecast_id`) REFERENCES `sales_forecasts` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `forecast_adjustments`
--

LOCK TABLES `forecast_adjustments` WRITE;
/*!40000 ALTER TABLE `forecast_adjustments` DISABLE KEYS */;
/*!40000 ALTER TABLE `forecast_adjustments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lead_assignment_rules`
--

DROP TABLE IF EXISTS `lead_assignment_rules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lead_assignment_rules` (
  `id` varchar(64) NOT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `name` varchar(120) NOT NULL,
  `enabled` tinyint(1) NOT NULL,
  `members_json` text,
  `rr_cursor` int NOT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_lead_assign_rules_tenant_enabled` (`tenant_id`,`enabled`,`updated_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lead_assignment_rules`
--

LOCK TABLES `lead_assignment_rules` WRITE;
/*!40000 ALTER TABLE `lead_assignment_rules` DISABLE KEYS */;
INSERT INTO `lead_assignment_rules` VALUES ('lar_cn_01','tenant_cn_demo','Demo round robin',1,'[{\"username\":\"sales\",\"weight\":2,\"enabled\":true},{\"username\":\"manager\",\"weight\":1,\"enabled\":true}]',0,'2026-03-17 01:36:15','2026-03-17 01:36:15'),('lar_gl_01','tenant_global_demo','Demo round robin',1,'[{\"username\":\"sales\",\"weight\":2,\"enabled\":true},{\"username\":\"manager\",\"weight\":1,\"enabled\":true}]',0,'2026-03-17 01:36:15','2026-03-17 01:36:15');
/*!40000 ALTER TABLE `lead_assignment_rules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lead_import_job_chunks`
--

DROP TABLE IF EXISTS `lead_import_job_chunks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lead_import_job_chunks` (
  `id` varchar(64) NOT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `job_id` varchar(64) NOT NULL,
  `chunk_no` int NOT NULL,
  `status` varchar(20) NOT NULL,
  `payload_json` text,
  `retry_count` int NOT NULL,
  `last_error` varchar(500) DEFAULT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_lead_import_chunk_no` (`tenant_id`,`job_id`,`chunk_no`),
  KEY `idx_lead_import_chunks_status` (`tenant_id`,`job_id`,`status`,`chunk_no`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lead_import_job_chunks`
--

LOCK TABLES `lead_import_job_chunks` WRITE;
/*!40000 ALTER TABLE `lead_import_job_chunks` DISABLE KEYS */;
/*!40000 ALTER TABLE `lead_import_job_chunks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lead_import_job_items`
--

DROP TABLE IF EXISTS `lead_import_job_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lead_import_job_items` (
  `id` varchar(64) NOT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `job_id` varchar(64) NOT NULL,
  `line_no` int NOT NULL,
  `status` varchar(20) NOT NULL,
  `raw_line` text,
  `error_code` varchar(80) DEFAULT NULL,
  `error_message` varchar(500) DEFAULT NULL,
  `created_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_lead_import_items_job_status` (`tenant_id`,`job_id`,`status`,`line_no`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lead_import_job_items`
--

LOCK TABLES `lead_import_job_items` WRITE;
/*!40000 ALTER TABLE `lead_import_job_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `lead_import_job_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lead_import_jobs`
--

DROP TABLE IF EXISTS `lead_import_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lead_import_jobs` (
  `id` varchar(64) NOT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `file_name` varchar(255) DEFAULT NULL,
  `status` varchar(32) NOT NULL,
  `total_rows` int NOT NULL,
  `success_count` int NOT NULL,
  `fail_count` int NOT NULL,
  `result_json` text,
  `created_by` varchar(80) DEFAULT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  `processed_rows` int NOT NULL DEFAULT '0',
  `percent` int NOT NULL DEFAULT '0',
  `last_heartbeat_at` timestamp NULL DEFAULT NULL,
  `cancel_requested` tinyint(1) NOT NULL DEFAULT '0',
  `error_message` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_lead_import_jobs_tenant_created` (`tenant_id`,`created_at`),
  KEY `idx_lead_import_jobs_tenant_status_created` (`tenant_id`,`status`,`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lead_import_jobs`
--

LOCK TABLES `lead_import_jobs` WRITE;
/*!40000 ALTER TABLE `lead_import_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `lead_import_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leads`
--

DROP TABLE IF EXISTS `leads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `leads` (
  `id` varchar(64) NOT NULL,
  `name` varchar(255) NOT NULL,
  `company` varchar(120) DEFAULT NULL,
  `phone` varchar(120) DEFAULT NULL,
  `email` varchar(120) DEFAULT NULL,
  `status` varchar(40) NOT NULL,
  `owner` varchar(120) NOT NULL,
  `source` varchar(255) DEFAULT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  `name_pinyin` varchar(200) DEFAULT NULL COMMENT '姓名拼音',
  `company_pinyin` varchar(200) DEFAULT NULL COMMENT '公司名称拼音',
  PRIMARY KEY (`id`),
  KEY `idx_leads_tenant_status` (`tenant_id`,`status`),
  KEY `idx_leads_tenant_owner` (`tenant_id`,`owner`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leads`
--

LOCK TABLES `leads` WRITE;
/*!40000 ALTER TABLE `leads` DISABLE KEYS */;
/*!40000 ALTER TABLE `leads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification_channels`
--

DROP TABLE IF EXISTS `notification_channels`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification_channels` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tenant_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `channel_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'WECHAT_WORK, DINGTALK, SMS, EMAIL',
  `channel_name` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `config_json` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '渠道配置',
  `enabled` tinyint(1) NOT NULL DEFAULT '1',
  `is_default` tinyint(1) NOT NULL DEFAULT '0',
  `priority` int NOT NULL DEFAULT '0' COMMENT '优先级',
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_tenant` (`tenant_id`),
  KEY `idx_enabled` (`enabled`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification_channels`
--

LOCK TABLES `notification_channels` WRITE;
/*!40000 ALTER TABLE `notification_channels` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification_channels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification_jobs`
--

DROP TABLE IF EXISTS `notification_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification_jobs` (
  `id` varchar(64) NOT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `event_type` varchar(80) NOT NULL,
  `target` varchar(40) NOT NULL,
  `payload` text,
  `status` varchar(20) NOT NULL,
  `retry_count` int NOT NULL,
  `max_retries` int NOT NULL,
  `next_retry_at` timestamp NULL DEFAULT NULL,
  `last_error` varchar(500) DEFAULT NULL,
  `dedupe_key` varchar(200) NOT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_notification_jobs_dedupe` (`dedupe_key`),
  KEY `idx_notification_jobs_tenant` (`tenant_id`,`status`,`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification_jobs`
--

LOCK TABLES `notification_jobs` WRITE;
/*!40000 ALTER TABLE `notification_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification_nodes`
--

DROP TABLE IF EXISTS `notification_nodes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification_nodes` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `workflow_node_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `channel` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'EMAIL, SMS, WECHAT_WORK, DINGTALK, IN_APP',
  `template_type` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'ALERT, REMINDER, NOTIFICATION',
  `recipient_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'FIXED, DYNAMIC, FIELD',
  `recipient_config` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '接收人配置',
  `template_config` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '消息模板配置',
  `priority` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'NORMAL' COMMENT 'LOW, NORMAL, HIGH, URGENT',
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_workflow_node` (`workflow_node_id`),
  CONSTRAINT `notification_nodes_ibfk_1` FOREIGN KEY (`workflow_node_id`) REFERENCES `workflow_nodes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification_nodes`
--

LOCK TABLES `notification_nodes` WRITE;
/*!40000 ALTER TABLE `notification_nodes` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification_nodes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `opportunities`
--

DROP TABLE IF EXISTS `opportunities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `opportunities` (
  `id` varchar(64) NOT NULL,
  `stage` varchar(80) NOT NULL,
  `count` int NOT NULL,
  `amount` bigint NOT NULL,
  `owner` varchar(120) NOT NULL,
  `progress` int NOT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  `settlement_currency` varchar(16) NOT NULL DEFAULT 'CNY',
  `exchange_rate_snapshot` varchar(40) NOT NULL DEFAULT '1.000000@SYSTEM',
  `tax_display_mode` varchar(24) NOT NULL DEFAULT 'TAX_INCLUSIVE',
  `compliance_tag` varchar(32) NOT NULL DEFAULT 'STANDARD',
  PRIMARY KEY (`id`),
  KEY `idx_opportunities_tenant_created` (`tenant_id`,`created_at`),
  KEY `idx_opportunities_tenant_stage_updated` (`tenant_id`,`stage`,`updated_at`),
  KEY `idx_opportunities_tenant_owner_created` (`tenant_id`,`owner`,`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `opportunities`
--

LOCK TABLES `opportunities` WRITE;
/*!40000 ALTER TABLE `opportunities` DISABLE KEYS */;
/*!40000 ALTER TABLE `opportunities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_records`
--

DROP TABLE IF EXISTS `order_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_records` (
  `id` varchar(64) NOT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `order_no` varchar(80) NOT NULL,
  `customer_id` varchar(64) NOT NULL,
  `opportunity_id` varchar(64) DEFAULT NULL,
  `quote_id` varchar(64) DEFAULT NULL,
  `owner` varchar(120) NOT NULL,
  `status` varchar(32) NOT NULL,
  `amount` bigint NOT NULL,
  `sign_date` date DEFAULT NULL,
  `notes` varchar(500) DEFAULT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  `settlement_currency` varchar(16) NOT NULL DEFAULT 'CNY',
  `exchange_rate_snapshot` varchar(40) NOT NULL DEFAULT '1.000000@SYSTEM',
  `invoice_status` varchar(24) NOT NULL DEFAULT 'NOT_REQUIRED',
  `tax_display_mode` varchar(24) NOT NULL DEFAULT 'TAX_INCLUSIVE',
  `compliance_tag` varchar(32) NOT NULL DEFAULT 'STANDARD',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_orders_tenant_no` (`tenant_id`,`order_no`),
  KEY `idx_orders_tenant_status` (`tenant_id`,`status`,`updated_at`),
  KEY `idx_orders_tenant_opp_status_owner_updated` (`tenant_id`,`opportunity_id`,`status`,`owner`,`updated_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_records`
--

LOCK TABLES `order_records` WRITE;
/*!40000 ALTER TABLE `order_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments` (
  `id` varchar(64) NOT NULL,
  `customer_id` varchar(64) DEFAULT NULL,
  `contract_id` varchar(64) NOT NULL,
  `amount` bigint NOT NULL,
  `received_date` date DEFAULT NULL,
  `method` varchar(40) DEFAULT NULL,
  `status` varchar(40) NOT NULL,
  `remark` varchar(255) DEFAULT NULL,
  `owner` varchar(120) DEFAULT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  `order_id` varchar(64) DEFAULT NULL,
  `settlement_currency` varchar(16) NOT NULL DEFAULT 'CNY',
  `exchange_rate_snapshot` varchar(40) NOT NULL DEFAULT '1.000000@SYSTEM',
  `invoice_status` varchar(24) NOT NULL DEFAULT 'NOT_REQUIRED',
  `tax_display_mode` varchar(24) NOT NULL DEFAULT 'TAX_INCLUSIVE',
  `compliance_tag` varchar(32) NOT NULL DEFAULT 'STANDARD',
  PRIMARY KEY (`id`),
  KEY `idx_payments_tenant_created` (`tenant_id`,`created_at`),
  KEY `idx_payments_tenant_order` (`tenant_id`,`order_id`),
  KEY `idx_payments_tenant_status_updated` (`tenant_id`,`status`,`updated_at`),
  KEY `idx_payments_tenant_owner_created` (`tenant_id`,`owner`,`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `price_book_items`
--

DROP TABLE IF EXISTS `price_book_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `price_book_items` (
  `id` varchar(64) NOT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `price_book_id` varchar(64) NOT NULL,
  `product_id` varchar(64) NOT NULL,
  `price` bigint NOT NULL,
  `tax_rate` decimal(10,4) NOT NULL,
  `currency` varchar(16) NOT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_price_book_items_unique` (`tenant_id`,`price_book_id`,`product_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `price_book_items`
--

LOCK TABLES `price_book_items` WRITE;
/*!40000 ALTER TABLE `price_book_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `price_book_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `price_books`
--

DROP TABLE IF EXISTS `price_books`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `price_books` (
  `id` varchar(64) NOT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `name` varchar(120) NOT NULL,
  `status` varchar(20) NOT NULL,
  `is_default` tinyint(1) NOT NULL,
  `department` varchar(80) DEFAULT NULL,
  `currency` varchar(16) NOT NULL,
  `valid_from` date DEFAULT NULL,
  `valid_to` date DEFAULT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_price_books_tenant_status` (`tenant_id`,`status`,`updated_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `price_books`
--

LOCK TABLES `price_books` WRITE;
/*!40000 ALTER TABLE `price_books` DISABLE KEYS */;
/*!40000 ALTER TABLE `price_books` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `products` (
  `id` varchar(64) NOT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `code` varchar(80) NOT NULL,
  `name` varchar(180) NOT NULL,
  `category` varchar(80) DEFAULT NULL,
  `status` varchar(20) NOT NULL,
  `standard_price` bigint NOT NULL,
  `tax_rate` decimal(10,4) NOT NULL,
  `currency` varchar(16) NOT NULL,
  `unit` varchar(32) DEFAULT NULL,
  `sale_region` varchar(80) DEFAULT NULL,
  `valid_from` date DEFAULT NULL,
  `valid_to` date DEFAULT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_products_tenant_code` (`tenant_id`,`code`),
  KEY `idx_products_tenant_status` (`tenant_id`,`status`,`updated_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `push_messages`
--

DROP TABLE IF EXISTS `push_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `push_messages` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tenant_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `channel` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'WECHAT_WORK, DINGTALK, SMS, EMAIL, IN_APP',
  `title` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'TEXT' COMMENT 'TEXT, HTML, TEMPLATE',
  `related_type` varchar(40) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '关联类型',
  `related_id` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '关联ID',
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDING' COMMENT 'PENDING, SENT, FAILED, READ',
  `sent_at` timestamp NULL DEFAULT NULL,
  `read_at` timestamp NULL DEFAULT NULL,
  `error_message` text COLLATE utf8mb4_unicode_ci,
  `retry_count` int NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_user_channel` (`user_id`,`channel`),
  KEY `idx_status` (`status`),
  KEY `idx_related` (`related_type`,`related_id`),
  KEY `idx_created` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `push_messages`
--

LOCK TABLES `push_messages` WRITE;
/*!40000 ALTER TABLE `push_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `push_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quick_filters`
--

DROP TABLE IF EXISTS `quick_filters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quick_filters` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tenant_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `icon` varchar(40) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `entity_type` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `filter_config` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `display_order` int NOT NULL DEFAULT '0',
  `is_default` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_tenant_entity_order` (`tenant_id`,`entity_type`,`display_order`),
  KEY `idx_owner_default` (`owner`,`is_default`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quick_filters`
--

LOCK TABLES `quick_filters` WRITE;
/*!40000 ALTER TABLE `quick_filters` DISABLE KEYS */;
/*!40000 ALTER TABLE `quick_filters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quote_items`
--

DROP TABLE IF EXISTS `quote_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quote_items` (
  `id` varchar(64) NOT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `quote_id` varchar(64) NOT NULL,
  `product_id` varchar(64) NOT NULL,
  `product_name` varchar(180) NOT NULL,
  `quantity` int NOT NULL,
  `unit_price` bigint NOT NULL,
  `discount_rate` decimal(10,4) NOT NULL,
  `tax_rate` decimal(10,4) NOT NULL,
  `subtotal_amount` bigint NOT NULL,
  `tax_amount` bigint NOT NULL,
  `total_amount` bigint NOT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_quote_items_quote` (`tenant_id`,`quote_id`,`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quote_items`
--

LOCK TABLES `quote_items` WRITE;
/*!40000 ALTER TABLE `quote_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `quote_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quote_versions`
--

DROP TABLE IF EXISTS `quote_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quote_versions` (
  `id` varchar(64) NOT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `quote_id` varchar(64) NOT NULL,
  `version_no` int NOT NULL,
  `status` varchar(32) NOT NULL,
  `total_amount` bigint NOT NULL,
  `created_by` varchar(120) NOT NULL,
  `snapshot_json` varchar(2000) NOT NULL,
  `created_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_quote_versions_tenant_quote_version` (`tenant_id`,`quote_id`,`version_no`),
  KEY `idx_quote_versions_tenant_quote_created` (`tenant_id`,`quote_id`,`created_at` DESC)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quote_versions`
--

LOCK TABLES `quote_versions` WRITE;
/*!40000 ALTER TABLE `quote_versions` DISABLE KEYS */;
/*!40000 ALTER TABLE `quote_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quotes`
--

DROP TABLE IF EXISTS `quotes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quotes` (
  `id` varchar(64) NOT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `quote_no` varchar(80) NOT NULL,
  `customer_id` varchar(64) NOT NULL,
  `opportunity_id` varchar(64) DEFAULT NULL,
  `price_book_id` varchar(64) DEFAULT NULL,
  `owner` varchar(120) NOT NULL,
  `status` varchar(32) NOT NULL,
  `subtotal_amount` bigint NOT NULL,
  `tax_amount` bigint NOT NULL,
  `total_amount` bigint NOT NULL,
  `version` int NOT NULL,
  `valid_until` date DEFAULT NULL,
  `notes` varchar(500) DEFAULT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  `settlement_currency` varchar(16) NOT NULL DEFAULT 'CNY',
  `exchange_rate_snapshot` varchar(40) NOT NULL DEFAULT '1.000000@SYSTEM',
  `invoice_status` varchar(24) NOT NULL DEFAULT 'NOT_REQUIRED',
  `tax_display_mode` varchar(24) NOT NULL DEFAULT 'TAX_INCLUSIVE',
  `compliance_tag` varchar(32) NOT NULL DEFAULT 'STANDARD',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_quotes_tenant_no` (`tenant_id`,`quote_no`),
  KEY `idx_quotes_tenant_status` (`tenant_id`,`status`,`updated_at`),
  KEY `idx_quotes_tenant_opp_status_owner_updated` (`tenant_id`,`opportunity_id`,`status`,`owner`,`updated_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quotes`
--

LOCK TABLES `quotes` WRITE;
/*!40000 ALTER TABLE `quotes` DISABLE KEYS */;
/*!40000 ALTER TABLE `quotes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `report_designer_templates`
--

DROP TABLE IF EXISTS `report_designer_templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `report_designer_templates` (
  `id` varchar(64) NOT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `name` varchar(120) NOT NULL,
  `visibility` varchar(32) NOT NULL,
  `owner` varchar(80) NOT NULL,
  `department` varchar(80) DEFAULT NULL,
  `dataset` varchar(40) NOT NULL,
  `config_json` text,
  `version` int NOT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_report_tpl_tenant_name` (`tenant_id`,`name`),
  KEY `idx_report_tpl_tenant_updated` (`tenant_id`,`updated_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `report_designer_templates`
--

LOCK TABLES `report_designer_templates` WRITE;
/*!40000 ALTER TABLE `report_designer_templates` DISABLE KEYS */;
INSERT INTO `report_designer_templates` VALUES ('rpt_mmt35kbr779','tenant_default','1','PRIVATE','admin',NULL,'LEADS','{\"limit\":100}',1,'2026-03-16 11:13:59','2026-03-16 11:13:59');
/*!40000 ALTER TABLE `report_designer_templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sales_forecasts`
--

DROP TABLE IF EXISTS `sales_forecasts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sales_forecasts` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tenant_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `forecast_period` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'MONTH, QUARTER, YEAR',
  `period_start` date NOT NULL,
  `period_end` date NOT NULL,
  `predicted_amount` bigint NOT NULL DEFAULT '0',
  `predicted_count` int NOT NULL DEFAULT '0',
  `confirmed_amount` bigint NOT NULL DEFAULT '0',
  `confidence_level` decimal(5,2) DEFAULT NULL COMMENT '0.00-100.00',
  `pipeline_amount` bigint NOT NULL DEFAULT '0',
  `model_version` varchar(40) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `computed_at` timestamp NOT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_tenant_period` (`tenant_id`,`forecast_period`,`period_start`),
  KEY `idx_owner_period` (`owner`,`forecast_period`,`period_start`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sales_forecasts`
--

LOCK TABLES `sales_forecasts` WRITE;
/*!40000 ALTER TABLE `sales_forecasts` DISABLE KEYS */;
/*!40000 ALTER TABLE `sales_forecasts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `saved_filters`
--

DROP TABLE IF EXISTS `saved_filters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `saved_filters` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tenant_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `entity_type` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `filter_config` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_shared` tinyint(1) NOT NULL DEFAULT '0',
  `share_with_roles` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `display_order` int NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_tenant_entity` (`tenant_id`,`entity_type`),
  KEY `idx_owner_shared` (`owner`,`is_shared`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `saved_filters`
--

LOCK TABLES `saved_filters` WRITE;
/*!40000 ALTER TABLE `saved_filters` DISABLE KEYS */;
/*!40000 ALTER TABLE `saved_filters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `saved_searches`
--

DROP TABLE IF EXISTS `saved_searches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `saved_searches` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tenant_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `search_type` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `query_json` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_shared` tinyint(1) NOT NULL DEFAULT '0',
  `share_with_roles` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `usage_count` int NOT NULL DEFAULT '0',
  `last_used_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_tenant_owner` (`tenant_id`,`owner`),
  KEY `idx_search_type` (`search_type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `saved_searches`
--

LOCK TABLES `saved_searches` WRITE;
/*!40000 ALTER TABLE `saved_searches` DISABLE KEYS */;
/*!40000 ALTER TABLE `saved_searches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `search_index`
--

DROP TABLE IF EXISTS `search_index`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `search_index` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tenant_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `entity_type` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `entity_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `search_content` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `pinyin_content` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_tenant_entity` (`tenant_id`,`entity_type`),
  KEY `idx_entity_id` (`entity_id`),
  FULLTEXT KEY `idx_search_content` (`search_content`,`pinyin_content`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `search_index`
--

LOCK TABLES `search_index` WRITE;
/*!40000 ALTER TABLE `search_index` DISABLE KEYS */;
/*!40000 ALTER TABLE `search_index` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sensitive_field_configs`
--

DROP TABLE IF EXISTS `sensitive_field_configs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sensitive_field_configs` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tenant_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `entity_type` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `field_name` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `mask_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PARTIAL' COMMENT 'PARTIAL, FULL, CUSTOM',
  `mask_pattern` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '自定义脱敏模式',
  `visible_chars_start` int DEFAULT '3',
  `visible_chars_end` int DEFAULT '4',
  `mask_char` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT '*',
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_tenant_entity_field` (`tenant_id`,`entity_type`,`field_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sensitive_field_configs`
--

LOCK TABLES `sensitive_field_configs` WRITE;
/*!40000 ALTER TABLE `sensitive_field_configs` DISABLE KEYS */;
/*!40000 ALTER TABLE `sensitive_field_configs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tasks`
--

DROP TABLE IF EXISTS `tasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tasks` (
  `id` varchar(64) NOT NULL,
  `title` varchar(255) NOT NULL,
  `time` varchar(120) DEFAULT NULL,
  `level` varchar(40) DEFAULT NULL,
  `done` tinyint(1) NOT NULL,
  `owner` varchar(120) DEFAULT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_tasks_tenant_created` (`tenant_id`,`created_at`),
  KEY `idx_tasks_tenant_done_updated_id` (`tenant_id`,`done`,`updated_at`,`id`),
  KEY `idx_tasks_tenant_owner_done_updated_id` (`tenant_id`,`owner`,`done`,`updated_at`,`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tasks`
--

LOCK TABLES `tasks` WRITE;
/*!40000 ALTER TABLE `tasks` DISABLE KEYS */;
/*!40000 ALTER TABLE `tasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `team_members`
--

DROP TABLE IF EXISTS `team_members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `team_members` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `team_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'LEADER, MEMBER',
  `joined_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_team_user` (`team_id`,`user_id`),
  KEY `idx_team` (`team_id`),
  KEY `idx_user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `team_members`
--

LOCK TABLES `team_members` WRITE;
/*!40000 ALTER TABLE `team_members` DISABLE KEYS */;
/*!40000 ALTER TABLE `team_members` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teams`
--

DROP TABLE IF EXISTS `teams`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teams` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tenant_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `leader_id` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `parent_team_id` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `team_type` varchar(40) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'SALES, MARKETING, SUPPORT',
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  `member_ids` text COLLATE utf8mb4_unicode_ci COMMENT '鎴愬憳ID鍒楄〃锛岄€楀彿鍒嗛殧',
  `member_count` int DEFAULT '0' COMMENT '鎴愬憳鏁伴噺',
  PRIMARY KEY (`id`),
  KEY `idx_tenant` (`tenant_id`),
  KEY `idx_parent` (`parent_team_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teams`
--

LOCK TABLES `teams` WRITE;
/*!40000 ALTER TABLE `teams` DISABLE KEYS */;
/*!40000 ALTER TABLE `teams` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tenants`
--

DROP TABLE IF EXISTS `tenants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tenants` (
  `id` varchar(64) NOT NULL,
  `name` varchar(120) NOT NULL,
  `status` varchar(20) NOT NULL,
  `quota_users` int NOT NULL,
  `timezone` varchar(40) NOT NULL,
  `currency` varchar(16) NOT NULL,
  `date_format` varchar(20) NOT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  `market_profile` varchar(16) NOT NULL DEFAULT 'CN',
  `tax_rule` varchar(32) NOT NULL DEFAULT 'VAT_CN',
  `approval_mode` varchar(32) NOT NULL DEFAULT 'STRICT',
  `channels_json` varchar(400) NOT NULL DEFAULT '["WECOM","DINGTALK"]',
  `data_residency` varchar(40) NOT NULL DEFAULT 'CN',
  `mask_level` varchar(32) NOT NULL DEFAULT 'STANDARD',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tenants`
--

LOCK TABLES `tenants` WRITE;
/*!40000 ALTER TABLE `tenants` DISABLE KEYS */;
/*!40000 ALTER TABLE `tenants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_accounts`
--

DROP TABLE IF EXISTS `user_accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_accounts` (
  `id` varchar(64) NOT NULL,
  `username` varchar(80) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` varchar(30) NOT NULL,
  `display_name` varchar(80) NOT NULL,
  `owner_scope` varchar(120) DEFAULT NULL,
  `enabled` tinyint(1) NOT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `department` varchar(80) DEFAULT NULL,
  `data_scope` varchar(30) DEFAULT NULL,
  `team_id` varchar(64) DEFAULT NULL,
  `manager_id` varchar(64) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_accounts_tenant_username` (`tenant_id`,`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_accounts`
--

LOCK TABLES `user_accounts` WRITE;
/*!40000 ALTER TABLE `user_accounts` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_invitations`
--

DROP TABLE IF EXISTS `user_invitations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_invitations` (
  `id` varchar(64) NOT NULL,
  `token` varchar(120) NOT NULL,
  `tenant_id` varchar(64) NOT NULL,
  `username` varchar(80) NOT NULL,
  `role` varchar(30) NOT NULL,
  `owner_scope` varchar(120) DEFAULT NULL,
  `department` varchar(80) DEFAULT NULL,
  `data_scope` varchar(30) DEFAULT NULL,
  `display_name` varchar(80) DEFAULT NULL,
  `invited_by` varchar(80) DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `used` tinyint(1) NOT NULL,
  `used_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_invitations_token` (`token`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_invitations`
--

LOCK TABLES `user_invitations` WRITE;
/*!40000 ALTER TABLE `user_invitations` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_invitations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wait_nodes`
--

DROP TABLE IF EXISTS `wait_nodes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wait_nodes` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `workflow_node_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `wait_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'DELAY, CONDITION, WEBHOOK',
  `duration_value` int DEFAULT NULL COMMENT '等待时长值',
  `duration_unit` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'MINUTES, HOURS, DAYS',
  `condition_expression` text COLLATE utf8mb4_unicode_ci COMMENT '等待条件',
  `timeout_action` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'CONTINUE, TERMINATE, NOTIFY',
  `timeout_node_id` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_workflow_node` (`workflow_node_id`),
  CONSTRAINT `wait_nodes_ibfk_1` FOREIGN KEY (`workflow_node_id`) REFERENCES `workflow_nodes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wait_nodes`
--

LOCK TABLES `wait_nodes` WRITE;
/*!40000 ALTER TABLE `wait_nodes` DISABLE KEYS */;
/*!40000 ALTER TABLE `wait_nodes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workflow_connections`
--

DROP TABLE IF EXISTS `workflow_connections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workflow_connections` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `workflow_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `source_node_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `target_node_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'DEFAULT' COMMENT 'DEFAULT, TRUE, FALSE',
  `label` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `condition_expression` text COLLATE utf8mb4_unicode_ci COMMENT '条件表达式',
  `display_order` int NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_workflow` (`workflow_id`),
  KEY `idx_source` (`source_node_id`),
  KEY `idx_target` (`target_node_id`),
  CONSTRAINT `workflow_connections_ibfk_1` FOREIGN KEY (`workflow_id`) REFERENCES `workflow_definitions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `workflow_connections_ibfk_2` FOREIGN KEY (`source_node_id`) REFERENCES `workflow_nodes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `workflow_connections_ibfk_3` FOREIGN KEY (`target_node_id`) REFERENCES `workflow_nodes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workflow_connections`
--

LOCK TABLES `workflow_connections` WRITE;
/*!40000 ALTER TABLE `workflow_connections` DISABLE KEYS */;
/*!40000 ALTER TABLE `workflow_connections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workflow_definitions`
--

DROP TABLE IF EXISTS `workflow_definitions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workflow_definitions` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tenant_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `category` varchar(40) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'MARKETING, SALES, APPROVAL, CUSTOM',
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'DRAFT' COMMENT 'DRAFT, ACTIVE, PAUSED, ARCHIVED',
  `version` int NOT NULL DEFAULT '1',
  `owner` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `department` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_system` tinyint(1) NOT NULL DEFAULT '0',
  `execution_count` int NOT NULL DEFAULT '0',
  `last_executed_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  `activated_at` timestamp NULL DEFAULT NULL,
  `published_by` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_tenant_status` (`tenant_id`,`status`),
  KEY `idx_category` (`category`),
  KEY `idx_owner` (`owner`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workflow_definitions`
--

LOCK TABLES `workflow_definitions` WRITE;
/*!40000 ALTER TABLE `workflow_definitions` DISABLE KEYS */;
/*!40000 ALTER TABLE `workflow_definitions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workflow_executions`
--

DROP TABLE IF EXISTS `workflow_executions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workflow_executions` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `workflow_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `workflow_version` int NOT NULL,
  `trigger_type` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `trigger_source` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'entity ID that triggered',
  `trigger_payload` text COLLATE utf8mb4_unicode_ci COMMENT 'JSON payload',
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'RUNNING, COMPLETED, FAILED, CANCELLED',
  `current_node_id` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `execution_context` text COLLATE utf8mb4_unicode_ci COMMENT 'JSON context',
  `started_at` timestamp NOT NULL,
  `completed_at` timestamp NULL DEFAULT NULL,
  `error_message` text COLLATE utf8mb4_unicode_ci,
  `error_details` text COLLATE utf8mb4_unicode_ci,
  `execution_duration_ms` int DEFAULT NULL COMMENT '执行耗时(毫秒)',
  `tenant_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '租户ID',
  PRIMARY KEY (`id`),
  KEY `idx_workflow_status` (`workflow_id`,`status`),
  KEY `idx_trigger` (`trigger_type`),
  KEY `idx_started` (`started_at`),
  KEY `idx_workflow_executions_tenant` (`tenant_id`),
  CONSTRAINT `workflow_executions_ibfk_1` FOREIGN KEY (`workflow_id`) REFERENCES `workflow_definitions` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workflow_executions`
--

LOCK TABLES `workflow_executions` WRITE;
/*!40000 ALTER TABLE `workflow_executions` DISABLE KEYS */;
/*!40000 ALTER TABLE `workflow_executions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workflow_node_executions`
--

DROP TABLE IF EXISTS `workflow_node_executions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workflow_node_executions` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `execution_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `node_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `node_type` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `node_name` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'PENDING, RUNNING, COMPLETED, FAILED, SKIPPED',
  `input_data` text COLLATE utf8mb4_unicode_ci,
  `output_data` text COLLATE utf8mb4_unicode_ci,
  `started_at` timestamp NULL DEFAULT NULL,
  `completed_at` timestamp NULL DEFAULT NULL,
  `error_message` text COLLATE utf8mb4_unicode_ci,
  `execution_order` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_execution` (`execution_id`),
  KEY `idx_node` (`node_id`),
  CONSTRAINT `workflow_node_executions_ibfk_1` FOREIGN KEY (`execution_id`) REFERENCES `workflow_executions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workflow_node_executions`
--

LOCK TABLES `workflow_node_executions` WRITE;
/*!40000 ALTER TABLE `workflow_node_executions` DISABLE KEYS */;
/*!40000 ALTER TABLE `workflow_node_executions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workflow_nodes`
--

DROP TABLE IF EXISTS `workflow_nodes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workflow_nodes` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `workflow_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `node_type` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'TRIGGER, CONDITION, ACTION, NOTIFICATION, WAIT, APPROVAL, CC',
  `node_subtype` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'CREATE_TASK, SEND_EMAIL, UPDATE_FIELD, etc.',
  `name` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `position_x` int NOT NULL,
  `position_y` int NOT NULL,
  `config_json` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '节点配置',
  `input_mapping` text COLLATE utf8mb4_unicode_ci COMMENT '输入映射',
  `output_mapping` text COLLATE utf8mb4_unicode_ci COMMENT '输出映射',
  `config_validation` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'VALID' COMMENT 'VALID, INVALID',
  `validation_message` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NOT NULL,
  `updated_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_workflow` (`workflow_id`),
  KEY `idx_node_type` (`node_type`),
  CONSTRAINT `workflow_nodes_ibfk_1` FOREIGN KEY (`workflow_id`) REFERENCES `workflow_definitions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workflow_nodes`
--

LOCK TABLES `workflow_nodes` WRITE;
/*!40000 ALTER TABLE `workflow_nodes` DISABLE KEYS */;
/*!40000 ALTER TABLE `workflow_nodes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workflow_triggers`
--

DROP TABLE IF EXISTS `workflow_triggers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workflow_triggers` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `node_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `trigger_type` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'RECORD_CREATED, RECORD_UPDATED, FIELD_CHANGED, SCHEDULE, MANUAL',
  `entity_type` varchar(40) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'CUSTOMER, LEAD, OPPORTUNITY, etc.',
  `field_name` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '触发字段',
  `condition_expression` text COLLATE utf8mb4_unicode_ci COMMENT '触发条件',
  `config_json` text COLLATE utf8mb4_unicode_ci COMMENT '触发配置',
  `created_at` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_node` (`node_id`),
  CONSTRAINT `workflow_triggers_ibfk_1` FOREIGN KEY (`node_id`) REFERENCES `workflow_nodes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workflow_triggers`
--

LOCK TABLES `workflow_triggers` WRITE;
/*!40000 ALTER TABLE `workflow_triggers` DISABLE KEYS */;
/*!40000 ALTER TABLE `workflow_triggers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'crm_local'
--

--
-- Dumping routines for database 'crm_local'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-23  9:34:23
